---
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import appStoreBadge from "@images/app-store-badge.svg";
import googlePlayBadge from "@images/google-play-badge.png";

// get localized data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
const hero = siteData.heroDownload;
---

<div id="feature-download" class="mx-auto max-w-2xl px-4 py-12">
	<h1 class="h1 mb-6 text-5xl font-bold">{hero.title}</h1>

	<h2 class="description mb-8 text-xl">{hero.description}</h2>

	<div class="flex flex-wrap items-center gap-4">
		<a href="https://apps.apple.com/se/app/jordglobe/id1599500931?l=en" class="h-auto w-40">
			<img src={appStoreBadge.src} alt={hero.appStoreAlt} class="h-auto w-full" />
		</a>

		<a
			href="https://play.google.com/store/apps/details?id=com.linbasta.jordglobegeo"
			class="h-auto w-40"
		>
			<img src={googlePlayBadge.src} alt={hero.googlePlayAlt} class="h-auto w-full" />
		</a>
	</div>
</div>
